$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

// Vars
$main-bg: #1c1e29;
$main-light: #fdf6e3; // solarized base3
$main-light-alt: #eee8d5;
$features-1: lighten(#b58900, 10%); // solarized yellow
$features-2: lighten(#cb4b16, 10%); // solarized orange
$features-3: lighten(#d33682, 10%); // solarized magenta
$features-4: lighten(#6c71c4, 10%); // solarized violet
$features-5: lighten(#2aa198, 10%); // solarized cyan
$features-6: lighten(#859900, 10%); // solarized green


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-color: $main-bg;
  color: $main-light;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
}

.navbar, footer {
  background-color: lighten($main-bg, 10%);
  border: 0;
}

.navbar-default .navbar-nav > li > a {
  color: $main-light;
}

.navbar-default .navbar-nav > li > a:hover {
  color: darken($main-light-alt, 10%);
}

#logo {
  position: relative;
  display: inline;
}

#logo i {
  position: absolute;
}

#logo i.fa-code {
  font-size: .25em;
  left: 4.5%;
}

#logo i.fa-angle-double-down {
  font-size: .6em;
  left: 3.7%;
  top: 40%;
}

section.main {
  margin: 10em auto;
  text-align: center;
}

.feature-icon i {
  font-size: 5em;
}

#demo textarea {
  width: 100%;
  height: 30em;
  background-color: transparent;
  padding: 1em;
  position: relative;
}

.text-background {
   position: absolute;
   z-index: 1;
   overflow: hidden;
   opacity: .2;
   font-family: 'Orbitron', sans-serif;
   font-size: 5em;
}

.text-background.html {
  top: 30%;
  left: 20%;
  transform: rotate(-33deg);
}

.text-background.md {
  top: 36%;
  right: 20%;
  transform: rotate(33deg);
}

// features

#features .container-fluid {
  padding: 5em 0;
  border-width: 2em;
  border-top-style: dashed;
}
#features .container-fluid.first-feature:first-child {
  border-top-color: $main-bg;
}
#features .container-fluid:nth-child(6n+1) {
  background-color: $features-1;
  border-top-color: $features-6;
}
#features .container-fluid:nth-child(6n+2) {
  background-color: $features-2;
  border-top-color: $features-1;
}
#features .container-fluid:nth-child(6n+3) {
  background-color: $features-3;
  border-top-color: $features-2;
}
#features .container-fluid:nth-child(6n+4) {
  background-color: $features-4;
  border-top-color: $features-3;
}
#features .container-fluid:nth-child(6n+5) {
  background-color: $features-5;
  border-top-color: $features-4;
}
#features .container-fluid:nth-child(6n+6) {
  background-color: $features-6;
  border-top-color: $features-5;
}
#features .container-fluid:last-child {
  border-bottom-style: dashed;
  border-bottom-color: $main-bg;
}

// for larger screens
@media(min-width:48em){
  .feature-description {
    text-align: left;
  }
  body {
    font-size: 2em;
  }
  h1 {
    font-size: 4em;
  }
}
